name: testing
on:
  push:
    branches:
      - main
      - osfs
  pull_request:
    branches:
      - main
      - osfs
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: osfs
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '~1.19.0'
      - run: go version
      - name: Build package
        run: go build
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: osfs
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '~1.19.0'
      - run: go version
      - name: Run tests
        run: sh test.sh
